* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ececec; }

.header-neymar ul li a {
  text-decoration: none;
  color: #111111;
  font-weight: bold;
  padding: 6px 10px; }
  .header-neymar ul li a:hover {
    color: #f05d23;
    border-bottom: 1px solid #f05d23; }

.headerney {
  flex-direction: column;
  margin: 10px; }

.logo {
  width: 150px; }

.carousel-neymar {
  text-align: center; }
  .carousel-neymar img {
    width: 100%; }

.merch-neymar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px; }
  .merch-neymar .merch-contenedor {
    width: 300px;
    margin: 40px auto;
    border: 2px solid #ececec;
    border-radius: 10px;
    padding: 30px;
    background-color: #111111;
    border: 1px solid #111111;
    color: #ececec;
    font-family: "Noto Sans", sans-serif; }
    .merch-neymar .merch-contenedor img {
      width: 100%; }

.titulo-merch {
  font-size: 3.2rem;
  color: #6235cb;
  font-family: "Noto Sans", sans-serif;
  font-weight: 900;
  text-align: center;
  margin-top: 40px; }

.social-contenedor img {
  width: 120px; }

.inicios {
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  color: #ececec; }

.letramerch {
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  color: #111111; }

.letracarrera {
  text-align: center;
  color: #ececec;
  font-family: "Noto Sans", sans-serif; }

.carreraney {
  background-color: #111111;
  margin: 30px;
  padding: 10px;
  border-radius: 7px; }

.neyinicio3 {
  width: 600px;
  margin: 0px 100px 0px 150px;
  padding: 20px; }

.neyinicio4 {
  text-align: center;
  width: 600px;
  margin: 0px 150px 0px 550px;
  padding: 10px; }

.inicios5 {
  width: 600px;
  margin: 0px 200px 0px 200px; }

.textoney {
  text-align: center;
  margin: 20px;
  font-family: "Noto Sans", sans-serif;
  color: #ececec; }

.form {
  max-width: 500px;
  margin: 20px auto; }

.flex-inicio {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .flex-inicio li {
    margin: 0px 40px; }

.galerianey {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  margin: 50px 0; }
  .galerianey img {
    max-width: 500px;
    width: 100%; }

.mis-comienzos {
  margin: 30px 0;
  background-color: #111111;
  margin: 20px;
  border-radius: 5px; }

.goles-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .goles-contenedor h6 {
    font-family: "Noto Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 16px;
    color: #ececec; }
  .goles-contenedor img {
    transition: all 0.2s ease; }
    .goles-contenedor img:hover {
      transform: scale(1.1); }

.socialicons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 150px; }
  .socialicons i {
    font-size: 2rem;
    cursor: pointer; }
    .socialicons i:hover {
      color: #6235cb; }
  .socialicons div {
    text-align: center; }

.carouselneymar {
  max-width: 660px;
  margin: auto; }

.botones {
  background-color: #6235cb;
  color: #ececec;
  border-radius: 5px; }
  .botones a {
    text-decoration: none;
    color: #ececec;
    font-family: "Noto Sans", sans-serif;
    padding: 20px 36px;
    font-size: 1rem; }

.alineacionboton {
  text-align: center; }

.flex-footer {
  background-color: #111111;
  margin-top: 20px;
  color: #ececec;
  font-family: "Noto Sans", sans-serif;
  padding-top: 20px; }
  .flex-footer a {
    text-decoration: none;
    color: #ececec; }

@media screen and (max-width: 1024px) {
  .merch-neymar {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 980px) {
  .galerianey {
    grid-template-columns: repeat(1, 1fr); } }

@media screen and (max-width: 862px) {
  .header-neymar {
    flex-direction: column; } }

@media screen and (max-width: 768px) {
  .flex-inicio {
    flex-direction: column; }
    .flex-inicio li {
      margin: 10px 0; }
  .merch-neymar {
    grid-template-columns: repeat(1, 1fr); } }

@media screen and (max-width: 991px) {
  .headerney {
    flex-direction: row; } }
