.carousel-neymar {
	text-align: center;
	img {
		width: 100%;
	}
}
.merch-neymar {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 50px;
	
	.merch-contenedor {
		width: 300px;
		height: fit-content;
		margin: 40px auto;
		border: 2px solid $colorsecundario;
		border-radius: 10px;
		padding: 30px;
		background-color: $colorprincipal;
		border: 1px solid $colorprincipal;
		color: $colorsecundario;
		font-family: "Noto Sans", sans-serif;
		img {
			width: 100%;
		}
	}
}
.titulo-merch {
	font-size: 3.2rem;
	color: $colordetalles;
	font-family: "Noto Sans", sans-serif;
	font-weight: 900;
	text-align: center;
	margin-top: 40px;
}